// $top-box: 33%;
// $bottom-box: 50%;

.wrapper {
  padding: 0 4%;
}

.bottom-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 15px;
}

@include media(600) {
  .top-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: 15px;
    @include padding(null 2%);
  }

  .bottom-box {
    @include margin(null 2%);
  }
}

@include media(700) {
  .top-box {
    @include padding(null 0);
  }

  .bottom-box {
    @include margin(null 0);
  }

  .blog-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 25px;
  }

  .wrapper,
  .home-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2%;
  }
}