

.about-logo {
	@include size(4rem);
	border: 2px solid $white;
	border-radius: 50px;
	margin: 0;

}

.author-meta {
	text-align: center;
	font-size: $third;
	color: $white;
	vertical-align: middle;
	svg {
	@include size(.8rem);
	fill: $white;
	}

	span {
		font-size: $third;
		margin: 0 4px;
	}
}

.bio {
	text-align: center;

	h2 {
		font-family: $font;
		font-weight: 300;
		font-size: $font-size*1.4;
		line-height: 1.5;
		color: $medium-gray;

	}
}

//Contact and Services sections
.bio,
.contact-section,
.about-section,
.work-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0 0 70px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
	transition: all 0.5s ease;
	text-align: center;
	position: relative;
	border-bottom: #EBF2F6 1px solid;
	padding: $spacer $spacer/2 $spacer/2 $spacer/2;

	p {
		text-align: left;
		font-size: $font-size*1.2;
	}

	img {
		margin-top: 0;
	}
}

.about-section {
	background: url(../img/about-back.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.contact-section {
	background: url(../img/contact-back.png);
	background-repeat: no-repeat;
	background-size: contain;

	.contact-form {
		z-index: 1100;
	}

	p {
		text-align: center;
	}
}

.work-section p {
	text-align: center;
		font-size: $font-size*1.4;
		margin-bottom: $spacer/2;

		.is-small {
			font-size: $font-size;
		}
}

@include media(700) {

	.about-logo {
	@include size(5.8rem);

}

h2 {
		font-size: $font-size*1.5;

	}


	.author-meta {
	
	font-size: $secondary;
	
	svg {
	@include size(1rem);
	
	}

	span {
		font-size: $secondary;
		margin: 0 3px;
	}
}
.bio,
.contact-section,
.about-section,
.work-section {
	padding: $spacer;
	margin: 0 0 90px;
}
}

@include media(900) {

	.about-logo {
	@include size(6.2rem);

}
.bio,
.contact-section,
.about-section,
.work-section {
	padding: $spacer $spacer*2;
	margin: 0 0 110px;
}
}