

.alert {
   display: none;
   text-align: center;
   color: $success-color;
   font-size: $font-size*1.2;
}


.get-in-touch {
   //max-width: 650px;
   margin: 0 auto;
   position: relative;
   padding: 25px 5% 0 5%;
   //top: 50%;
   //transform: translateY(-50%);
  
  h1 {
     text-align: center;
     //font-family: Raleway, sans-serif;
     text-transform: uppercase;
     letter-spacing: 3px;
     font-size: $font-size*1.4;
     //line-height: 48px;
     //padding-bottom: $spacer/2;
  }

  h2 {
   text-align: center;
   padding-bottom: $spacer/2;
  }
}

.contact-form {
   .form-field {
      position: relative;
      margin: 32px 0;
      text-align: center;
   }
   .input-text {
      display: block;
      background: $white;
      width: 100%;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: $light-gray;
      //font-size: 18px;
      line-height: 26px;
      //font-weight: 400;
      color: $medium-gray;
      
      &:focus {
         outline: none;
      }
      
      &:focus,
      &.not-empty {
         + .label {
            transform: translateY(-24px);
            color: $blue;
         }
      }
   }
   .label {
      position: absolute;
      left: 15px;
      bottom: 11px;
      //font-family: Lusitana, serif;
      //font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: $medium-gray;
      cursor: text;
      transition: transform .2s ease-in-out;
   }
   
   .submit-btn {
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 80px;
      margin: 0 auto;
   }
}

.note {
   width: 100%;
   text-align: center;
   font-weight: 300;
   font-size: 16px;
   line-height: 21px;
   
   }

   @include media(700) {
    .form-field-wrap {
      display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
}
.form-field-wrap div {
  width: 45%;
}
   }
