// Contact Form
.contact-form {
  .hide {
      @include hide-visually;
    }
    z-index: 1300;
  text-align: center;
  h2 {
    font-size: 1.6rem;
    margin: 0;
    color: $dark-gray;
  }
  p {
    font-size: .8rem !important;
    margin-bottom: 0;
    margin-top: 12px;
    line-height: 1.4;
    color: $dark-gray;
  }
}
.contact-form .form-wrap {
  margin-bottom: $spacer/2;
}
.catch {
  @include margin(null auto);
}

@include media(700) {
  .contact-form {
    .hide {
      @include hide-visually("unhide");
    }
    h2 {
      margin: 0;
      font-size: 1.9rem;
    }
    p {
      font-size: 1rem !important;
      margin-bottom:5px;
      margin-top: 10px;
      padding: 0 $spacer*1.5 !important;
    }
}

input,
textarea {
  padding: 15px;
  margin-top: $spacer;
  font-size: 1rem;
}

button,
.submit {
  max-width: 400px;
   padding: 0 15px;
   height: 38px;
   font-size: $secondary;

}
}


@include media(900) {
  .contact-form {
  
    h2 {
      font-size: 2.1rem;
    }
    p {
      margin-bottom:10px;
      margin-top: 20px;
      padding: 0 !important;
    }
}

input,
textarea {
  margin-top: $spacer*1.2;
}

button,
.submit {
  max-width: 500px;
   padding: 0 20px;
   height: 40px;

}
}