//front index page

.home-box {
  text-align: center;
  margin: math.div($spacer, 2) math.div($spacer, 2) 0 math.div($spacer, 2) ;
  border-bottom: 1px solid $light-gray;
  padding: 0 0 math.div($spacer, 3) 0;

  h1, h2, h3 {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  img {
    width: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.bottom-box {
 border-bottom: 1px solid $light-gray;
}

.home-phone {
text-align: center;
padding-top: 20px;

  img {
    width: 90px;
    margin-bottom: math.div($spacer, 3);
  }
  p {
  font-size: 1.1rem;
  }
}

.blog-links {
  margin: $spacer 0;
}

.blog-links-heading {
text-align: center;
letter-spacing: 3px;
margin-top: $spacer;
.line {
    color: $menu-line;
  }
}

.home-notes {
  margin-top: $spacer;
  text-align: center;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  p {
    color: $white;
    @include padding(20px 20px null 20px);
    font-size: $secondary;
    margin-bottom: 15px;
  }

  a {
    color: $white;
    font-size: $lead;
  }

  .invert {
    color: $black;
  }
}

@include media(600) {
  .home-box {
border-top: 1px solid $light-gray;
border-left: 1px solid $light-gray;
border-right: 1px solid $light-gray;
padding: $spacer math.div($spacer, 2);
margin: $spacer*1.5 0;

h1, h2, h3 {
    font-size: 1.1rem;
    margin: 0;
  }


img {
  margin: 0 math.div($spacer, 1.5) 0 0;
  width: 110px;
  margin-bottom: 15px;
  }
}

.bottom-box {
 border-top: 1px solid $light-gray;
}

.home-phone {
padding-top: $spacer*1.3;

img {
    width: 80px;
  }

  p {
    font-size: 1.1rem;
  }
  }
  .home-notes {
    p {
    @include padding(20px 30px null 30px);
  }
  }
}

@include media(700) {
  .home-box {
    h1, h2, h3 {
    font-size: 1.2rem;
  }


img {
  width: 120px;
  }
  }
  .blog-links {
  margin: 0;
  }
  .home-notes p {
    margin-bottom: 0;
  }
}
@include media(900) {
  .home-notes {
    border: 1px solid $light-gray;
  box-shadow: rgba(39, 44, 49, 0.06) 8px 8px 10px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  transition: all 0.5s ease;
    p {
      margin-bottom: 10px;
    }
  }
  .home-notes {
    &:hover {
    box-shadow: rgba(39, 44, 49, 0.07) 8px 14px 18px, rgba(39, 44, 49, 0.04) 1px 6px 12px;
    transition: all 0.7s ease;
    transform: translate3D(0, -1px, 0) scale(1.02);
  }
  
  a:hover {
    color: $link-color;
  }
}
}