
.parallax-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}


/* Parallax Styles */
.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
}

.background {
  background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
  
}

.parallax-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.foreground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //object-fit: cover;
  
  transform-origin: 0;
  //transform: translateZ(3px) scale(0.625);
  
  /* Uncomment the code below to see the difference the scale property makes! */
  transform: translateZ(5px);
  transform: translateZ(0) scale(1);


h1 {
  font-size: $font-size*1.6;
  letter-spacing: 2px;
  color: $white-gray;
  margin: 0;
}

p {
  font-size: $font-size;
  color: $white-gray;
  line-height: 1.3;
  text-align: center;
}
}

.foreground__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

@include media(600) {
  .parallax-wrapper {
  height: 320px;
}

.foreground__content {
  padding: 0 40px;
}

.foreground {

  h1 {
    font-size: $font-size*2.7;
  }

  p {
    font-size: $font-size*1.4;
  }
}
}

@include media(700) {
   .parallax-wrapper {
  height: 400px;
}

.foreground__content {
  padding: 0 50px;
}

.foreground {

h1 {
    font-size: $font-size*3;
  }

  p {
    font-size: $font-size*1.6;
  }
}

}

@media only screen and (orientation: landscape) {
  .background {
    //background-attachment: scroll;
  }
}

@include media(900) {
 .parallax-wrapper {
  height: 600px;
}

.background {
  //background-attachment: fixed;
}

.foreground__content {
  padding: 0 60px;
}

.foreground {

h1 {
    font-size: $font-size*3.2;
  }

  p {
    font-size: $font-size*1.7;
  }
}

}


@include media(1100) {
  .foreground {

h1 {
    font-size: $font-size*3.5;
  }

  p {
    font-size: $font-size*2;
  }
}
}

@include media(1300) {
  .foreground {
  h1 {
    font-size: $font-size*4;
  }

  p {
    font-size: $font-size*2.3;
  }
}
}

@include media(1800) {

  .parallax-wrapper {
  height: 700px;
}

  .foreground {
  h1 {
    font-size: $font-size*4.6;
  }
}
}