//Post Extras

//Extras for Introducing Scss post
.scss-post {

$midgrey: #738a94;  
$blue: #3eb0ef;  
$red: #f05230;  
$border: 1px solid tint($red, 20%);  
$radius: 6px;  
$spacer: 4rem;  
$width: $spacer/1.5;

@mixin border-radius($radius) {  
    border-top-left-radius: $radius;  
    border-top-right-radius: $radius * 2;  
    border-bottom-left-radius: $radius + 15;  
    border-bottom-right-radius: $radius + 25;  
}

.box-scss {  
    width: 80%;  
    height: 120px;  
    padding: $spacer/4;
    margin: $width auto;  
    @include background($red);  
    @include border-radius(10px);

    p {  
    text-align: center;  
    color: white;  
    }
}

.box2-scss {  
    border: $border; 
    @include background($midgrey);  
    max-width: 80%;  
    padding: $spacer;  
    margin: $spacer auto;

        h1 {  
            font-size: 32px;  
            text-align: center;

            a {  
                color: $blue;

                &:hover {  
                    color: white;  
                }// end hover  
            }// end a  
        }// end h1

        p {  
        text-align: center;  
        color: white;  
        }// end p  
    }

    .box3-scss {  
    width: 80%;  
    margin: $width auto;
    border: $border;  
    @include border-radius(10px);  
    padding: $spacer/2;  
    background-color: $midgrey;

    p {  
    text-align: center;  
    color: white;  
    }
}

.box4-scss {  
    @extend .box3-scss;  
    background-color: $blue;  
}

.box5-scss {  
    @extend .box3-scss;  
    background-color: $red;  
}

.box6-scss {  
    $width: 270px + 10px; 
    width: $width;  
    margin: $width / 9 - 10px auto;  
    border: $border;  
    padding: $spacer;

    p {  
        font-size: $width / 9;  
        text-align: center;  
        line-height: 1.2;  
    }
}
}

// =======================
// Bourbon Examples
// =======================

//Links on Bourbon and Javascript pages
.links {
  text-align: center;

  h3 {
    font-size: $font-size*1.2;
  }

  p {
    font-size: $secondary;
    margin-bottom: 0;
  }

  a {
  display: block;
  font-size: $secondary;
  padding-top: 4px;
}

.hide-last {
  @include hide-visually;
}
}

.bourbon {

.mixin-box {
  @include size(100%, 80px);
  border: 3px solid $black;
}

.one {
  @include border-color($error-color $alert-color null $success-color);
}

.two {
  @include border-top-radius(8px);
  @include border-bottom-radius(15px);
  margin-bottom: $spacer;
  @include media(900) {
    margin-bottom: $spacer*1.5;
  }
}

.two-a {
  @include border-right-radius(8px);
  @include border-left-radius(15px);
}

.three {
  @include border-style(dashed double solid dotted);
}

.four {
  @include border-width(1em 2rem 25px 20px);
}

.five {
  border-style: none;
  text-align: center;
  padding-top: 12px;
  $button-color: #2d72d9;
  background-color: $button-color;
  color: contrast-switch($button-color, #222, #eee);
}

.six {
  border: $border;
  @include ellipsis;
}

button.below {
  @include size(180px, 40px);

span {
  @include hide-visually;
}

&:hover span {
  @include hide-visually("unhide");
}
}

.eight {
  border: $border;

 p {
  @include margin(20px 3em 10vh null);
}
}

//Globally change the base ratio
$bourbon: (
 "modular-scale-ratio": 1.2,
);

.nine p {
  font-size: modular-scale(3);
}

.ten {
  border: $border;
  @include overflow-wrap;
}

.eleven {
  border: $border;

 p {
  @include padding(50px 5% 10vh null);
}
}

.twelve {
  border: $border;
  position: relative;
  @include size(40px);
  
  div {
  @include position(absolute, 10px null null 10px);
  @include size(20px);
  background: #b61e33;
}
}

.thirteen {
  border: $border;
  @include size(40px);
  background-color: shade(#ffbb52, 60%);
}

.fourteen {
  border: $border;
  @include size(5em);

  div {
  border: $border;
  @include size(1em, 2em);
}
}

.fifteen {
  border: $border;
  @include size(40px);
  background-color: tint(#6ecaa6, 40%);
}


.sixteen {
  border: $border;
  @include size(4rem);
  position: relative;

  &::before {
  @include triangle("up", 2rem, 2rem, #b25c9c);
  position: absolute;
  content: "";
  top:-2rem;
  left:1rem;
}
}
}

@include media(700) {
  .links {
  @include grid-container;

   a {
  font-size: $secondary*1.2;
}

.hide-last {
  @include hide-visually("unhide");
}
}

.links-left {
  @include grid-column(6);
}

.links-right {
  @include grid-column(6);
}
}

//js-notes

ul.people li {
  line-height: 1.2;
}

ul.blogs li {
  line-height: 1.2;
}

.contenta {
  margin-bottom: $spacer;
p {
  line-height: 1.2;
  margin-bottom: 10px;
}
}

.contentb h3 {
  margin-bottom: $spacer;
}

.contentc h4 {
  margin-bottom: $spacer;
}

.contentd {
  margin-bottom: $spacer;
  p {
  margin-bottom: 10px;
}

.success {
  color: $success-color;
}

.error {
  color: $error-color;
}
}

.contente {
  margin-bottom: $spacer;

  button {
    margin-bottom: 10px;
  }
}

ul.list {
  margin-bottom: 10px;
  li {
  line-height: 1.2;
}
}

.button {
  margin-bottom: $spacer;
}

.boxed {
  margin-bottom: $spacer;
}

.popup-content-area {
position: relative;

.popup-button {
  display: block;
  margin: 20px auto;
  background: crimson;
  color: white;
  border: 0;
  padding: 6px 10px;
}

.popup-wrapper {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

.popup{
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background: white;
  position: relative;

  a {
  background: crimson;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}
}

.popup-close{
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}
}
}