//Related Posts


.related-post-wrap {
  //margin-bottom: $spacer*2;

  h2 {
  font-size: 1.6rem;
  margin-bottom: $spacer;
  text-align: center;
  }
}

.related-post {
  border: 1px dashed $light-gray;
  padding: 15px;
  margin-bottom: 20px;

  h3 {
    font-size: 1.3rem;
  }
}

//this also effects the navigation - see the _menu.scss
.javascript #javascript,
.basics #basics,
.control-flow #control-flow,
.functions-cat #functions-cat,
.objects #objects,

.variables #variables,
.strings #strings,
.string-methods #string-methods,
.numbers #numbers,
.template-strings #template-strings,
.arrays #arrays,
.null-undefined #null-undefined,
.booleans-comparisons #booleans-comparisons,
.loose-strict-comparisons #loose-strict-comparisons,
.type-conversion #type-conversion,
.for-loops #for-loops,
.while-loops #while-loops,
.do-while-loops #do-while-loops,
.if-statements #if-statements,
.else-if-statements #else-if-statements,
.logical-operators #logical-operators,
.ternary-operator #ternary-operator,
.break-continue #break-continue,
.switch-statements #switch-statements,
.variables-block-scope #variables-block-scope,
.functions #functions,
.arrow-functions #arrow-functions,
.callback-functions #callback-functions,
.object-literals #object-literals,
.math-object #math-object,
.primitive-values #primitive-values,
.primitive-reference-values #primitive-reference-values {
 color: $hover-color;
 opacity: 1;
 cursor: not-allowed;
}

@include media(600) {
  .related-post-wrap {
  border-bottom: 0;
  //margin-bottom: $spacer;
  //padding-bottom: 0;

  //h2 {
  //margin-bottom: 20px;
  //}
}

  .related-wrap {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
//align-items: center;
gap: 20px;
column: 20px;
  }

  .related-post {
    flex: 1 200px;
    //border: 1px dashed $light-gray;
    //padding: 15px;
    margin-bottom: 0;
  }
}

@include media(900) {

  .related-post-wrap {
    //margin-bottom: $spacer*2.5;
  }
  .related-post {
    //flex: 1 250px;
  }
}