// =======================
// Site
// =======================

.main,
header,
article,
footer,
.home,
.related {
    @include clearfix;
}

.inner {
	margin: 0 5%;
}

.main {
	//margin: $spacer 0 0 0;
}

.small {
  font-size: $third;
  text-align: center;
  margin-bottom: 10px;
}

.footer {
	border-top: 1px solid $light-gray;
	padding-top: $spacer/1.5;
	padding-bottom: 5px;
}


.footer-info {
font-size: $third;
text-align: center;
}

//body $class
.home a[href*="index.html"],
.about a[href*="about.html"],
.basics a[href*="basics.html"],
.all-articles a[href*="docs.html"] {
	color: red;
}

@include media(700) {
	.inner {
	margin: 0 5%;
}
}

@include media(900) {
	.inner {
	max-width: 840px;
	margin: 0 auto;
}
}