// =======================
// Forms
// =======================

form {
  margin-bottom: $spacer/2;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 700;
  margin-bottom: $spacer / 4;
  padding: 0;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: $spacer / 4;
}

input,
select,
textarea {
  outline: 0 none;
  display: block;
  font-family: $font;
  font-size: $secondary;
}
// Add your type inputs
#{$all-text-inputs},
textarea {
  appearance: none;
  width: 100%;
  border: tint($light-gray, 7%) 1px solid;
  line-height: 1.2;
  user-select: text;
  transition: border-color 0.15s linear;
  -webkit-appearance: none;
  margin-bottom: $spacer/2;
  margin-top: $spacer/2;
  padding: 12px;
    
  &:hover {
}
  &:focus {
    border-color: shade($light-gray, 30%);
    outline: none;
}
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  
  &:hover {
    border-color: $error-color;
}
}
  @include placeholder {
    color: $medium-gray;
}
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  margin-right: $spacer/4;
}

[type="file"] {
  margin-bottom: $spacer/2;
}

select {
  margin-bottom: $spacer/2;
}

////////////////////////////////////////////////////////////

// buttons
%btn {
  outline: 0 none;
  max-width: 300px;
  //padding: 0 15px;
  height: 34px;
  color: $white;
  border-radius: $radius;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: $alt-font;
  font-size: $third;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  //line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 15px;
  text-decoration: none;
  vertical-align: middle;
  opacity: .9;
  user-select: none;
  white-space: nowrap;

  &:hover, &:focus {
  
}
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

  &:hover {
    background-color: $error-color;
}
}
}

@mixin button-bg($bg) {
  background: $bg;
  
  @include media(900) {
  
  &:hover {
    background:lighten($bg, 20%);
    transition: all 0.3s ease;
}
}
}

//Add button types
button,
.but,
.submit {
  @extend %btn;
  @include button-bg($button-background);
  margin: 0;
}
