// =======================
// Variables
// =======================

// Typography
$font: "Raleway", sans-serif;
$heading-font: "antonio", sans-serif;
$alt-font: "Ubuntu Condensed", sans-serif;
$code-font: "Source Code Pro", monospace;

// Font Sizes
$font-size: 1rem; // 16px
$lead: $font-size*1.2;
$secondary: $font-size/1.1;
$third: $font-size/1.2;

// Line height
$line-height: 1.6;

// Other Sizes
$radius: 5px;
$spacer: 2.5rem;

// Colors
$black: #1C0301;
$white:#FFF;
$off-white: rgba(209, 210, 214, 0.95);
$white-gray: rgba(226, 239, 243, 0.78);
$dark-gray: #464747;
$medium-gray: #999;
$light-gray: #ddd;
$blue: rgba(13, 152, 227, 0.92);

// Font Colors
$font-color: $dark-gray;
$link-color: $blue;
$hover-color: #BC141E;
$post-text-color: rgba(34, 40, 42, 0.89);

// Border
$border: 1px solid $medium-gray;

// Background Colors
$background: $light-gray;
$light-background: lighten($background, 11%);

$input-background: #fdfdfd;
$button-background: $link-color;

$error-color: #ba221d;
$alert-color: #BD912F;
$success-color: #3f913a;





